<div class='captcha'>
  <div class='captcha_label'>
    <%= simple_captcha_options[:label] %>
  </div>

  <div class='captcha_image'>
    <%= simple_captcha_options[:image] %>
  </div>
  
  <div class='captcha_field'>
    <%= simple_captcha_options[:field] %>
  </div>
  
</div>
