<div class="date-time data-group">
  <div class="field">
    <%= form.label(field + '_date') %>
    <%= form.text_field(field + '_date', class: 'date_entry') %>
  </div>
  <div class="field">
    <% id = "choice[#{field}_time]" %>
    <%= form.label(id, "#{field} local time".capitalize) %>
    <span data-time-field="<%= id %>"
      data-time-value="05:15"
    />
  </div>
</div>
