<div class="date_time_field">
  <%= form.label(field + '_date') %>
  <%= form.text_field(field + '_date', class: 'date_entry') %>
  <%= form.label(field + '_time') %>
  <%= form.text_field(field + '_time', class: 'time_entry') %>
</div>
