<%= render :partial => 'title' %>
<div class="alternatives">
  <% @choice.alternatives.each do |alt| %>
    <div class="alternativeTitle">
      <%= alt.title %>
    </div>
    <div class="alternativeDescription">
      <%= alt.description %>
    </div>
  <% end %>
</div>
