<%= render :partial => 'choices/title' %>
<div class="alternatives">
  <% @choice.alternatives.each do |alt| %>
    <div class="alternative">
      <div class="alternativeTitle">
        <%= alt.title %>
      </div>
      <div class="alternativeDescription">
        <%= alt.description %>
      </div>
    </div>
  <% end %>
</div>
<%= render :partial => 'options' %>
