<ul>
  <li>
    <% if @choice.intermediate %>
      Will show intermediate results
    <% else %>
      Results hidden until choice closes
    <% end %>
  </li>
  <li>
    <% if @choice.public %>
      Will show publicly
    <% else %>
      Not shown publicly
    <% end %>
  </li>
</ul>
