  <table class="alternatives">
    <tbody>
      <% @alternatives.each do |alt| %>
        <tr><td><%= alt.title %></td><td><%= alt.expressions.count %></td></tr>
      <% end %>
    </tbody>
  </table>
