<%= form_tag preferences_path do %>
  <%= hidden_field :choice, :read_token %>
  <%= render 'selectionRankPartial' %>
  <div class="actions">
    <%= submit_tag 'Submit preference' %>
  </div>
<% end %>
