<h1>Your selection</h1>

<p>You selected:
  <span class='alternativeTitle'><%= @alternative.title %></span>
</p>

<%= render :partial => 'display', :object => @choice %>

<%= button_to 'Socelect', root_path, :method => :get %>
