<p>Find alternatives that satisfy most.</p>
<%= button_to 'Add a choice', 
    { :controller => :choices, :action => :new }, 
    :method => :get  %>
<p>What is this?  It's a place where you can present a choice and find out
what people prefer.  You can ask what movie your friends would like to
watch tonight.  You can ask which of Grandma's pies your family would most like to
have at Thanksgiving.  You can ask who your group would like to represent
them at the town hall meeting.  You can ask which restaurant people want
to visit after the little league game.</p>

<p>Just about any choice you can think of that has two or more
alternatives-- you can find people's preferences here.</p>

