<p>Find alternatives that satisfy most.</p>
<%= button_to 'Create your question',
  { :controller => :choices, :action => :new },
  :method => :get
%>
<p>What is this?  It's a place where you can present a choice and find out
what people prefer.</p>

<p>Just about any choice you can think of that has two or more
alternatives-- you can find people's preferences here.</p>

<p>The method used here to gather preferences and combine them into
a result is unique.
Preferences expressed here gain full information about which alternatives
are preferred over others by allowing you to order them most to least.
This is unlike choose-one or check the acceptable ones.</p>

<p>The result computation guarantees that every
alternative placed before another
is preferred over the other by the majority.
This is an expectation that many people
assume from any method, but which most methods, including choose-one,
do not deliver.</p>
