<p>Find alternatives that satisfy most.</p>
<%= button_to 'Create your question',
  { :controller => :choices, :action => :new },
  :method => :get
%>
<p>What is this?  It's a place where you can present a choice and find out
what people prefer.</p>

<p>Just about any choice you can think of that has two or more
alternatives-- you can find people's preferences here.</p>

<p>The method used here is ranked choice. The result ranking is
one with maximum agreement.</p>

<% if 0 < @choices.count %>
  <p>Some publicly shared choices that you can try out:</p>
  <ul id="public-choices">
    <%= render @choices %>
  </ul>
<% end %>
