<p>Find alternatives that satisfy most.</p>
<%= button_to 'Create your question',
  { :controller => :choices, :action => :new },
  :method => :get
%>
<p>What is this? It is a place where you can find out
what people prefer. Any choice you can think of.
You can find people's preferences here.</p>

<p>Your invited express their preference by ranked choice.
The result is the ranking with maximum agreement.</p>

<% if 0 < @choices.count %>
  <p>Some publicly shared choices that you can try out:</p>
  <ul id="public-choices">
    <%= render @choices %>
  </ul>
<% end %>
