<p>Thank you for visiting <%= site_name %>.</p>

<p>This is an experimental,
personal web site not intended for commercial use.
There isn't a corporation, not even a non-profit behind it.
It's just me, one person, experimenting.</p>

<p>Please don't abuse the site or I'll have to remove it.
These terms were last updated on

Thursday, June 13, 2019

and are, like all things, an experiment in design that might be
redecorated.</p>

<h3 id="license">Copyright and license</h3>
<p><%= site_name.capitalize %> Copyright ©2010, 2019 Douglas Lovell</p>

<p>This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
</p><p>
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
</p>

<h3>Suggestions</h3>
<p>You can find the source hosted by GitHub at
<a href="https://github.com/wbreeze/socelect">wbreeze/socelect</a>.
For suggestions, please review the
<a href="https://github.com/wbreeze/socelect/issues">issues page</a>
and consider opening an issue there. If you do not have and do not want
an account at GitHub, <a href="/welcome/contact">write to me</a>.

<h3>Warranty and level of service</h3>
<p>My bank gives no warranty of any kind to the services offered
on their web site. You could expect better from me; however, I
don't have anything close to their resources.</p>
<p id="service">Anything you put here might go away at any time.
It might be temporarily or permanently unavailable.
Sometimes this site will work, other times not.</p>

<h3>Property rights</h3>
<p>If you type something into a form on this site and submit it, it is
in the public domain. You warrant that you are not adding content that
violates the rights of others nor making any claim on the content that
you submit.</p>
<p id="violation">If you see something here that violates the rights of others,
use the <a href="/welcome/contact">contact information</a>
to make your case for removing it.</p>

<h3 id="children">Children</h3>
The site doesn't sell anything; so, it doesn't sell to children.
If you place content here that is inappropriate to children and share
the links with children, you are culpable for that, not the site.
That said, see <a href="#service">level of service</a>
and <a href="#violation">rights</a>.

<h3>Offensive content</h3>
See <a href="#children">children</a>.
If someone put something here that offends you, they are culpable,
not the site. If you want to write to us about it, use the
<a href="/welcome/contact">contact information</a>.
In general, we'll just listen and understand, however
see <a href="#violation">rights</a>.

<h2 id="privacy">Privacy, information collection and use</h2>

<h3>Personal information</h3>
<p>This site does not gather personal information
of any kind. You should consider anything you submit
to be public.</p>

<h3>Cookies</h3>
<p>The site writes a session cookie that
stores a random session identifier.</p>

<h3>Logs</h3>
<p>The site logs access, including IP addresses. It logs application events
when there are warnings or errors; however, for troubleshooting purposes it can
be set to log more, including the parameters that you post through forms, which
will then be associated with the IP address.</p>

<p>Data in the logs isn't sold or published, but could be shared.</p>

<h3>Tracking</h3>
<p>Aside from tracking the session internally,
the site does not use tracking technologies of any sort.
It doesn't track your visits to other sites nor share
that you visited here when you are visiting elsewhere.</p>

<h3>International transfer</h3>
<p>You could be anywhere, more or less, and so can the servers and data
facilities hosting this site.</p>
